.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;

  color: #fca311, #fca311, #14213d;
  background-color: #82f0ae;
  /* textAlign: "center",
          display: "flex",
          flexDirection: "column",
          justifyContent: "flex-start",
          alignItems: "center",
          boxSizing: "border-box",
          width: "100vw",
          height: "100vh",
          padding: [0, "0 40px", "0 50px", "0 60px"],
          fontSize: "16px",
          margin: "auto",
          backgroundColor: "#f7f7f7", */
}
